:3000 {
	handle_path /layout/* {
		root * /srv/layout
		file_server
	}

	@app1 path /app1 /app1/*
	handle @app1 {
		reverse_proxy app1:3000
	}

	@app2 path /app2 /app2/*
	handle @app2 {
		route {
			canary {
				weight 0.5
			}

			@primary expression {canary.upstream} == "primary"
			@canary expression {canary.upstream} == "canary"

			reverse_proxy @primary app2:3000
			reverse_proxy @canary legacy:80
		}
	}

	redir / /app1 permanent
}
